<div class="navBar">
<mat-toolbar color="primary" >
<span> <mat-icon>eco</mat-icon>My Portfolio</span>
  <div class="spacer"></div>
  <nav >
    <ul>
      <li><a  routerLink="/home" routerLinkActive="active" >Home</a></li>
      <li><a  routerLink="/project" routerLinkActive="active">Project</a></li>
      <li><a routerLink="/course" routerLinkActive="active">Course</a></li>
      <li><a routerLink="/jobs" routerLinkActive="active">Jobs</a></li>
      <li><a routerLink="/volunteer" routerLinkActive="active">Volunteer</a></li>
      <li style="float:right" routerLinkActive="active"><a routerLink="/contact" >Contact</a></li>
    </ul>

  </nav>
</mat-toolbar>

</div>


