<div class="navBar">
<mat-toolbar class="navBanner" >
<p class="spacer-img-label"> <a routerLink="/home">
  <mat-icon><img src="./assets/images/binodImg.png" alt="" style="width: 35pt; height: auto; border-radius: 50%; border: 2pt solid darkgrey;">

  </mat-icon>
</a>
</p>
  <span class="web-title" style="color: #f3cb08">My Portfolio</span>
  <div class="spacer"></div>
  <nav>
    <ul>
      <li><a  routerLink="/home" routerLinkActive="active" >Home</a></li>
      <li><a  routerLink="/project" routerLinkActive="active">Project</a></li>
      <li><a routerLink="/course" routerLinkActive="active">Course</a></li>
      <li><a routerLink="/jobs" routerLinkActive="active">Jobs</a></li>
      <li><a routerLink="/volunteer" routerLinkActive="active">Volunteer</a></li>
      <li style="float:right" routerLinkActive="active"><a routerLink="/contact" >Contact</a></li>
    </ul>

  </nav>
</mat-toolbar>

</div>


