<div [ngClass]="'work-title-mt'">
  <div><h1>Volunteers/Hackathons</h1></div>
  <mat-accordion>
    <mat-expansion-panel
      *ngFor="let volunteer of volunteers"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <div class="row" style="width: 100%">
          <div class="col-5" ><mat-panel-title>{{volunteer.organization}}</mat-panel-title></div>
          <div class="col-7" ><mat-panel-description>{{volunteer.start_year}}/{{volunteer.start_month}} --- {{volunteer.end_year}}/{{volunteer.end_month}}
          </mat-panel-description></div>
        </div>
      </mat-expansion-panel-header>
      <div class="row">
        <div class="col-4"><img src="./assets/images/{{volunteer.image}}" class="img-responsive" [ngClass]="'div-hidden'"></div>
        <div class="col-8 description" [ngClass]="'div-hidden'"><span ><h2>Jobs and Responsibilities:</h2>{{volunteer.description}}</span></div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

</div>
