

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  /* CSS */
  .work-title-mt{
    margin-top: 80pt;
  }
  h1{
    text-align: center;
    font-family: "South East" ;
    font-weight: bold;
    font-size: 30pt;
    margin-bottom: 40pt;
  }

  .card-job{
    padding-left: 10px;
  }
  .back-button{
    padding: 15px;

  }
  button{
    width: 100px;
    font-size: 18px;
  }
  .img-responsive{
    width: 400px;
    height: auto;
    padding: 15px;
    border-radius: 20px;

  }
  .card{
    margin-left: 200pt; margin-right: 200pt;
  }
  .div-hidden2{
    visibility: hidden;
    display: none;
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  /* CSS */
  .work-title-mt{
    margin-top: 80pt;
  }
  h1{
    text-align: center;
    font-family: "South East" ;
    font-weight: bold;
    font-size: 30pt;
    margin-bottom: 40pt;
  }
  .card-job{
    padding-left: 10px;
  }
  .back-button{
    padding: 15px;

  }
  button{
    width: 100px;
    font-size: 18px;
  }
  .img-responsive{
    width: 300px;
    height: auto;
    padding: 10px;
    border-radius: 15px;
    display: block;
   vertical-align: middle;

  }
  .card{
    margin-left: 20pt; margin-right: 20pt;
  }
  .card-image{

   justify-items: center;
    align-content: center;

  }
  .div-hidden2{
    visibility: hidden;
    display: none;
  }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  /* CSS */
  .work-title-mt{
    margin-top: 80pt;
  }
  h1{
    text-align: center;
    font-family: "South East";
  }
  .back-button{
    padding: 15px;

  }
  button{
    width: 100px;
    font-size: 18px;
  }
  .img-responsive{
    width: 200px;
    height: auto;
    padding: 5px;
    border-radius: 10px;
    display: block;
    vertical-align: middle;
  }
  .card{
    margin-left: 10pt; margin-right: 10pt;
  }
  .card-image{
    justify-items: center;
    align-content: center;

  }
  .job-details{
    width: 110%;
  }
  .div-company-width{
    width:120%;
  }
  .div-hidden2{
    visibility: hidden;
    display: none;
  }

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  /* CSS */
  .work-title-mt{
    margin-top: 80pt;
  }
  h1{
    text-align: center;
    font-family: "South East";
  }
  .back-button{
    padding: 15px;

  }
  button{
    width: 100px;
    font-size: 18px;
  }
  .img-responsive{
    width: 290px;
    height: auto;
    padding: 5px;
    border-radius: 10px;
    display: block;
    vertical-align: middle;
  }
  .card{
    margin-left: 10pt; margin-right: 10pt;
  }
  .card-image{
    justify-items: center;
    align-content: center;
  }
  .job-details{
    width: 100%;
  }
  .div-company-width{
    width: 100%;
  }
  .div-hidden{
    visibility: hidden;
    display: none;
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  /* CSS */
  .work-title-mt{
    margin-top: 50pt;
  }
  h1{
    text-align: center;
    font-family: "South East";
    font-size: 15pt;
  }

  .img-responsive{
    width: 340px;
    height: auto;
    display: block;
    padding-top: 10pt;
    padding-left: 10pt;
  }
  .card{
    margin-left: 30pt; margin-right: 10pt;
    height: 250pt;
    width: 300pt;
  }

  .div-company-width{
    width: 270pt;
    font-size: 10pt;
    text-align: center;
    line-height: 8pt;
  }
  .div-hidden{
    visibility: hidden;
    display: none;
  }


}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  /* CSS */
.work-title-mt{
  margin-top: 50pt;
}
  h1{
    text-align: center;
    font-family: "South East";
    font-size: 10pt;
  }

  .img-responsive{
    width: 220px;
    height: auto;
    display: block;
    padding-top: 15pt;
  }
  .card{
    margin-left: 40pt; margin-right: 5pt;
    height: 250pt;
    width: 200pt;
  }

  .div-company-width{
    width: 170pt;
    font-size: 10pt;
    text-align: center;
    line-height: 8pt;
  }
  .div-hidden{
    visibility: hidden;
    display: none;
  }

}
