#myBtn {
  position: fixed;
  bottom: 60%;
  right: 5px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  width: 100pt;
  transform:rotate(-90deg);
  -webkit-transform:rotate(-90deg);
  transform-origin: bottom right;
}
ng-template{
  z-index: 150;
}
.div-textarea {
  width: 100%;
  text-align: center;
}
.div-dropdown  {
  width: 100%;
  text-align: center;
}
.div-button{
  text-align: center;
}
mat-card{
  border: 1pt solid gray;
  bottom: 65%;
}
