
.back-button{
  padding: 15px;

}
button{
  width: 100px;
  font-size: 18px;
}

.inner{
  overflow: hidden;
  border: 1pt solid gray;
  border-radius: 5pt;
}
.inner img{
  transition: all 1.5s ease;
}
.inner:hover img{
  transform: scale(1.5);
}
.course-img{
width: 100%;
  height: auto;
}
.my_card{
  cursor: pointer;

}
.my_card:hover{
  background-color: #f1f1f1;
}
