/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
h1 {
  text-align: center;
  font-family: "Roboto";
}

@media (min-width: 1281px) {

  /* CSS */
  h1 {
    font-weight: bold;
    font-size: 30pt;
    margin-bottom: 30pt;
  }

  .card-row {
    margin-top: 80pt;
    margin-left: 4%;
  }

  .inner {
    overflow: hidden;
    border: 1pt solid gray;
    border-radius: 5pt;
  }

  .inner img {
    transition: all 1.5s ease;
  }

  .inner:hover img {
    transform: scale(1.5);
  }

  .course-img {
    width: 100%;
    height: auto;
  }

  .my_card {
    cursor: pointer;
    width: 20rem;
    margin: 10pt;
  }

  .my_card:hover {
    background-color: #f1f1f1;
  }

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  /* CSS */
  .card-row {
    margin-top: 80pt;
    margin-left: 8%;
  }

  h1 {

    font-weight: bold;
    font-size: 25pt;
    margin-bottom: 20pt;
  }

  .back-button {
    padding: 15px;

  }

  button {
    width: 100px;
    font-size: 18px;
  }

  .inner {
    overflow: hidden;
    border: 1pt solid gray;
    border-radius: 5pt;
  }

  .inner img {
    transition: all 1.5s ease;
  }

  .inner:hover img {
    transform: scale(1.5);
  }

  .course-img {
    width: 100%;
    height: auto;
  }

  .my_card {
    cursor: pointer;
    width: 15rem;
    margin: 10pt;
  }

  .my_card:hover {
    background-color: #f1f1f1;
  }

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  /* CSS */
  .style-alignment {
    margin-left: -75pt;

  }

  .card-row {
    margin-top: 80pt;
    margin-left: 5%;
  }

  h1 {

    font-weight: bold;
    font-size: 20pt;
    margin-bottom: 15pt;
  }

  .back-button {
    padding: 15px;

  }

  button {
    width: 100px;
    font-size: 18px;
  }

  .inner {
    overflow: hidden;
    border: 1pt solid gray;
    border-radius: 5pt;
  }

  .inner img {
    transition: all 1.5s ease;
  }

  .inner:hover img {
    transform: scale(1.5);
  }

  .course-img {
    width: 100%;
    height: auto;
  }

  .my_card {
    cursor: pointer;
    width: 18rem;
    margin: 10pt;
  }

  .my_card:hover {
    background-color: #f1f1f1;
  }

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  /* CSS */
  .card-row {
    margin-top: 80pt;
    margin-left: 50pt;
  }

  h1 {

    font-weight: bold;
    font-size: 25pt;
    margin-bottom: 20pt;
  }

  .back-button {
    padding: 15px;

  }

  button {
    width: 100px;
    font-size: 18px;
  }

  .inner {
    overflow: hidden;
    border: 1pt solid gray;
    border-radius: 5pt;
  }

  .inner img {
    transition: all 1.5s ease;
  }

  .inner:hover img {
    transform: scale(1.5);
  }

  .course-img {
    width: 100%;
    height: auto;
  }

  .my_card {
    cursor: pointer;
    width: 15rem;
    margin: 10pt;
  }

  .my_card:hover {
    background-color: #f1f1f1;
  }


}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  /* CSS */
  /* CSS */
  .style-alignment {
    margin-left: -75pt;

  }

  .card-row {
    margin-top: 60pt;
    margin-left: 6%;
  }

  h1 {

    font-weight: bold;
    font-size: 20pt;
    margin-bottom: 10pt;
  }

  .back-button {
    padding: 15px;

  }

  button {
    width: 100px;
    font-size: 18px;
  }

  .inner {
    overflow: hidden;
    border: 1pt solid gray;
    border-radius: 5pt;
  }

  .inner img {
    transition: all 1.5s ease;
  }

  .inner:hover img {
    transform: scale(1.5);
  }

  .course-img {
    width: 100%;
    height: auto;
  }

  .my_card {
    cursor: pointer;
    width: 25rem;
    margin: 10pt;
  }

  .my_card:hover {
    background-color: #f1f1f1;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  /* CSS */
  .style-alignment {
    margin-left: -25pt;
  }

  .card-row {
    margin-top: 50pt;
  }

  h1 {

    font-weight: bold;
    font-size: 15pt;

  }

  .back-button {
    padding: 15px;

  }

  button {
    width: 100px;
    font-size: 18px;
  }

  .inner {
    overflow: hidden;
    border: 1pt solid gray;
    border-radius: 5pt;
  }

  .inner img {
    transition: all 1.5s ease;
  }

  .inner:hover img {
    transform: scale(1.5);
  }

  .course-img {
    width: 100%;
    height: auto;
  }

  .my_card {
    cursor: pointer;
    width: 25rem;
    margin: 10pt;
  }

  .my_card:hover {
    background-color: #f1f1f1;
  }
}
