
<button id="myBtn" (click)="isOpen = !isOpen" type="button" cdkOverlayOrigin #trigger="cdkOverlayOrigin">Feedback
</button>


<!-- This template displays the overlay content and is connected to the button -->
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
>
  <form>
    <div class="div-row">
      <mat-card>
        <div class="div-clear">
          <mat-icon (click)="isOpen = !isOpen">clear</mat-icon>

        </div>
        <div style="text-align: center">
          <h2>Feedback</h2>
          <hr>
        </div>
        <mat-label>How do you rate my website?</mat-label>
        <br>
        <div >
          <fieldset class="rating">
            <input type="radio" [name]="inputName" value="5" [checked]="rating===5" />
            <label title="Rocks!" (click)='onClick(5)'>5 stars</label>

            <input type="radio" [name]="inputName" value="4" [checked]="rating===4" />
            <label title="Pretty good" (click)='onClick(4)'>4 stars</label>

            <input type="radio" [name]="inputName" value="3" [checked]="rating===3" />
            <label title="Meh" (click)='onClick(3)'>3 stars</label>

            <input type="radio" [name]="inputName" value="2" [checked]="rating===2" />
            <label title="Kinda bad" (click)='onClick(2)'>2 stars</label>

            <input type="radio" [name]="inputName" value="1" [checked]="rating===1" />
            <label title="Sucks big time" (click)='onClick(1)'>1 star</label>
          </fieldset>
        </div>
        <br>
        <div class="div-dropdown"><mat-form-field>

          <mat-label>Select one option</mat-label>
          <mat-select style="height: 100%">
            <mat-option value="Outstanding">Outstanding</mat-option>
            <mat-option value="Good">Good</mat-option>
            <mat-option value="Fair">Fair</mat-option>
            <mat-option value="Poor">Poor</mat-option>
          </mat-select>


        </mat-form-field>
        </div><br>
        <mat-label> Please provide your constructive feedback:</mat-label>
        <br>
        <div class="div-textarea">
          <mat-form-field >
            <mat-label>Leave a comment</mat-label>
            <textarea matInput rows="6" placeholder="Leave a comment...."></textarea>
          </mat-form-field>
        </div>

        <br>
        <div class="div-button">
          <button mat-raised-button type="submit"  color="primary">Submit</button>

        </div>
      </mat-card>
    </div>


  </form>
</ng-template>
