
.rating {
  float:left;
}

.rating:not(:checked) > input {
  position:absolute;
  top:-9999px;
  clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
  float:right;
  width:1em;
  padding:0.1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:200%;
  line-height:1.2;
  color:#ddd;
}

.rating:not(:checked) > label:before {
  content: '★ ';
}

.rating > input:checked ~ label {
  color: #f70;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: gold;
}


.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #ea0;
}
#myBtn {
  position: fixed;
  bottom: 400pt;
  right: 0.05%;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #176a8d;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  width: 80pt;
  transform:rotate(-90deg);
  -webkit-transform:rotate(-90deg);
  transform-origin: bottom right;
}
ng-template{
  z-index: 150;
}
.div-textarea {
  width: 100%;
  text-align: center;
}
.div-dropdown  {
  width: 100%;
  text-align: center;
}
.div-button{
  text-align: center;
}
mat-card{
  border: 1pt solid gray;
  bottom: 65%;
}
.div-clear{

  color: red;
  text-align: end;
}
.mat-icon{
  cursor: pointer;

}
