
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/


@media (min-width: 1281px) {

  /* CSS */
  .jumbotron{
    background: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,1)), url("../../assets/images/coding.gif") top center;
    background-size: cover;
    margin-top: 10px;
    height:90%;
    z-index: -1;

  }
  .div-font-medium, p,li{
    font-size: 18pt;
    line-height: normal;
  }
  ul > li{
    margin-left: 40pt;
  }
  .card-row{
    justify-content: center;
    margin-top: 100pt;
  }
  .row-job-title{
    font-size: 15pt;
    padding-bottom: 25pt;
  }
  .div-profile-image{
    justify-content: center;
  }
  .style-div-name{
    justify-content: center;
    align-items: center;
    padding-top: 10pt;
    padding-bottom: 10pt;
  }
  .style-div-link{
    margin-top: 15pt;
    justify-content: center;
    font-size: 15pt;
  }
  .circular-image{
    border-radius: 50%;
    width: 150pt;
    border: 2pt solid white;
  }

  button{
    background-color: rgba(255,255,255,0.1);
    color:white;
    width: 100%;
    height: 45pt;
    cursor: pointer;
    font-size: 18pt;
    font-family: "South East";
    color: #f59245;
    margin-top: 150pt;
    border-radius: 5pt;

  }

  .linkImage{
    width: 8px;
    height: auto;
    margin: 5px;
  }
  .card{
    height: 400pt;
    width: 60%;
    border: 1pt solid gray;

  }
  .profile{
    background: rgba(0,0,0, 0.8);
    color:white;
  }
  .img-border{
    border: 2pt solid beige;
  }

  .btnReadMore:hover{
    background: rgba(255,255,255, 0.4);
    color: #3afd1b;

  }
  .mobile-row{
    text-align: center;
  }
  h2{
    font-family:"Helvetica";
    font-size: 18pt;
    font-weight: bold;
    color: #f59245;
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  /* CSS */
  .jumbotron{
    background: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,1)), url("../../assets/images/coding.gif") top center;
    background-size: cover;
    margin-top: 10px;
    height:500px;
    z-index: -1;

  }
  .card-row{
    justify-content: center;
    margin-top: 50pt;
  }
  .row-job-title{
    font-size: 10pt;
  }
  .div-profile-image{
    justify-content: center;
  }
  .style-div-name{
    justify-content: center;
    align-items: center;
  }
  .style-div-link{
    margin-top: 5pt;
    justify-content: center;
    font-size: 7pt;
  }
  .circular-image{
    border-radius: 50%;
    width: 70pt;
    border: 2pt solid white;
  }

  button{
    background-color: rgba(255,255,255,0.2);
    color:white;
    width: 100%;
    height: 30pt;
    cursor: pointer;
    font-size: 15pt;
    font-family: "South East";
    color: #f59245;

  }

  .linkImage{
    width: 8px;
    height: auto;
    margin: 5px;
  }
  .card{
    height: 100%;
    width: 85%;
    border: 1pt solid gray;

  }
  .profile{
    background: rgba(0,0,0, 0.8);
    color:white;
  }
  .img-border{
    border: 2pt solid beige;
  }
  .btnReadMoreDiv{
    padding-top: 40pt;
  }

  .btnReadMore:hover{
    background: rgba(255,255,255, 0.4);
    color: #3afd1b;

  }
  .mobile-row{
    text-align: center;
  }
  h2{
    font-family:"Helvetica";
    font-size: 10pt;
    font-weight: bold;
    color: #f59245;
  }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  /* CSS */
  /* CSS */
  .jumbotron{
    background: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,1)), url("../../assets/images/coding.gif") top center;
    background-size: cover;
    margin-top: 10px;
    height:500px;
    z-index: -1;

  }
  .card-row{
    justify-content: center;
    margin-top: 50pt;
  }
  .row-job-title{
    font-size: 10pt;
  }
  .div-profile-image{
    justify-content: center;
  }
  .style-div-name{
    justify-content: center;
    align-items: center;
  }
  .style-div-link{
    margin-top: 5pt;
    justify-content: center;
    font-size: 7pt;
  }
  .circular-image{
    border-radius: 50%;
    width: 70pt;
    border: 2pt solid white;
  }

  button{
    background-color: rgba(255,255,255,0.2);
    color:white;
    width: 100%;
    height: 30pt;
    cursor: pointer;
    font-size: 15pt;
    font-family: "South East";
    color: #f59245;

  }

  .linkImage{
    width: 8px;
    height: auto;
    margin: 5px;
  }
  .card{
    height: 100%;
    width: 85%;
    border: 1pt solid gray;

  }
  .profile{
    background: rgba(0,0,0, 0.8);
    color:white;
  }
  .img-border{
    border: 2pt solid beige;
  }
  .btnReadMoreDiv{
    padding-top: 40pt;
  }

  .btnReadMore:hover{
    background: rgba(255,255,255, 0.4);
    color: #3afd1b;
  }
  .mobile-row{
    text-align: center;
  }
  h2{
    font-family:"Helvetica";
    font-size: 10pt;
    font-weight: bold;
    color: #f59245;
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/


/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  /* CSS */
  .jumbotron{
    background: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,1)), url("../../assets/images/coding.gif") top center;
    background-size: cover;
    margin-top: 10px;
    height:500px;
    z-index: -1;

  }
  .card-row{
    justify-content: center;
    margin-top: 20pt;
  }
  .row-job-title{
    font-size: 8pt;
  }
  .div-profile-image{
    justify-content: center;
  }
  .style-div-name{
    justify-content: center;
    align-items: center;
  }
  .style-div-link{
    margin-top: 5pt;
    justify-content: center;
    font-size: 7pt;
  }
  .circular-image{
    border-radius: 50%;
    width: 70pt;
    border: 2pt solid white;
  }

  button{
    background-color: rgba(255,255,255,0.2);
    color:white;
    width: 50%;
    height: 30pt;
    cursor: pointer;
    font-size: 8pt;
    font-family: "South East";
    color: #f59245;

  }

  .linkImage{
    width: 8px;
    height: auto;
    margin: 5px;
  }
  .card{
    height: 100%;
    width: 65%;
    border: 1pt solid gray;

  }
  .profile{
    background: rgba(0,0,0, 0.8);
    color:white;
  }
  .img-border{
    border: 2pt solid beige;
  }
  .btnReadMoreDiv{
    padding-top: 40pt;
  }

  .btnReadMore:hover{
    background: rgba(255,255,255, 0.4);
    color: #3afd1b;
  }
  .mobile-row{
    text-align: center;
  }
  h2{
    font-family:"Helvetica";
    font-size: 10pt;
    font-weight: bold;
    color: #f59245;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  .jumbotron{
    background: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,1)), url("../../assets/images/coding.gif") top center;
    background-size: cover;
    margin-top: 10px;
    height:500px;
    z-index: -1;

  }
  .card-row{
    justify-content: center;
    margin-top: 20pt;
  }
  .row-job-title{
    font-size: 8pt;
  }
  .div-profile-image{
    justify-content: center;
  }
  .style-div-name{
    justify-content: center;
    align-items: center;
  }
  .style-div-link{
    margin-top: 5pt;
    justify-content: center;
    font-size: 7pt;
  }
  .circular-image{
    border-radius: 50%;
    width: 70pt;
    border: 2pt solid white;
  }

  button{
    background-color: rgba(255,255,255,0.2);
    color:white;
    width: 50%;
    height: 30pt;
    cursor: pointer;
    font-size: 8pt;
    font-family: "South East";
    color: #f59245;

  }

  .linkImage{
    width: 8px;
    height: auto;
    margin: 5px;
  }
  .card{
    height: 100%;
    width: 65%;
    border: 1pt solid gray;

  }
  .profile{
    background: rgba(0,0,0, 0.8);
    color:white;
  }
  .img-border{
    border: 2pt solid beige;
  }
  .btnReadMoreDiv{
    padding-top: 40pt;
  }

  .btnReadMore:hover{
    background: rgba(255,255,255, 0.4);
    color: #3afd1b;
  }
  .mobile-row{
    text-align: center;
  }
  h2{
    font-family:"Helvetica";
    font-size: 10pt;
    font-weight: bold;
    color: #f59245;
  }
}
