.jumbotron{
background: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,1)), url("../../assets/images/coding.gif") top center;
  background-size: cover;
  margin-top: 60px;
  height: 790px;
  z-index: -1;

}
.jumbotron h1{
  color: red;
  font-size: 25pt;
}
.jumbotron p{
  color: white;
  font-size: 15pt;
}

button{
  background-color: rgba(255,255,255,0.2);
  color:white;
  width: 100%;
  height: 50pt;
  cursor: pointer;
  font-size: 18pt;

}
.container{
  max-width: 2000px;
}

.linkImage{
  width: 30px;
  height: auto;
  margin: 10px;
}
.card{
  height: 350pt;
  width: auto;
}
.profile{
  background: rgba(255,255,255, 0.1);
  color:white;
}
.img-border{
  border: 2pt solid beige;
}
.btnReadMoreDiv{
  padding-top: 200pt;

}
.btnReadMore:hover{
  background: rgba(255,255,255, 0.4);

}
h2{
  font-family:"Helvetica";
  font-size: 20pt;
  font-weight: bold;
  color: #f59245;
}
