<app-header></app-header>
<mat-card class="card shadow" >
  <div class="col">
    <div class="card-header">
      <mat-card-title>
      <h1 style="text-align: center">Contact</h1>
    </mat-card-title></div><br>
    <form action="#">
      <label class="font-size">Email: </label> <input class="email_inpt font-size" type="text" placeholder="example@exampl.com"><br><br>
      <label class="font-size">Feedback: </label> <br><textarea type="text" class="feedback_txtArea font-size" placeholder="your feedback goes here."></textarea>
    </form>
    <mat-card-content>
      <p class="p-feed-back">
        Your feedback is very important for me. Please provide me some constructive feedback.
      </p>
    </mat-card-content>
    <mat-card-actions>
<div class="row justify-content-center align-items-center">
  <button mat-raised-button color="primary">Submit</button>
  <p class="spacer"></p>
  <form method="get" action="/assets/resume/binod.doc">
    <button mat-raised-button color="primary" type="submit">Download</button>
  </form>

</div>

    </mat-card-actions>
  </div>
</mat-card>

<app-footer></app-footer>
