
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
mat-form-field{
  width: 100%;
}
h1{
  text-align: center;
  font-family: "Contact" ;
}
@media (min-width: 1501px) {

  h1{

    font-weight: bold;
    font-size: 25pt;

  }
  .card{
    margin-top: 100pt;
    padding: 20pt;
    height: 500pt;
    width: 500pt;
    margin-bottom: 30pt;
    border-radius: 10pt;
    background-color: #f3f3f3;
    font-size: 15pt;

  }

  .hidden {
    display: none
  }
  .visible {
    display: block
  }
  .center-text {
    text-align: center
  }


  button {
    margin-bottom: 10px;
    padding: 5pt;
    font-size: 15pt;
  }
  button {
    margin-top: 10px;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    padding: 4px 16px;
    transition: 0.4s;
    width: 50%;

  }
  .row-button{
    text-align: center;
  }
  button:hover:enabled{
    color: white;
    background-color: dodgerblue;
  }

}

@media (min-width: 1281px) and (max-width: 1500px) {

  /* CSS */
  h1{

    font-weight: bold;
    font-size: 25pt;
  }
  .card{
    margin-top: 100pt;
    padding: 20pt;
    height: 500pt;
    width: 500pt;
    margin-bottom: 30pt;
    border-radius: 10pt;
    background-color: #f3f3f3;
    font-size: 15pt;

  }
  .input-width{
    width: 350pt;
  }
  .hidden {
    display: none
  }
  .visible {
    display: block
  }
  .center-text {
    text-align: center
  }
  form.contact {
    display: flex;
    flex-direction: column;
    max-width: 200px;

  }
  input,
  button {
    margin-bottom: 10px;
    padding: 5pt;
    font-size: 15pt;
  }
  button {
    margin-top: 10px;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    padding: 4px 16px;
    transition: 0.4s;
    width: 50%;
    margin-top: 10px;

  }
  .row-button{
    text-align: center;
  }
  button:hover:enabled{
    color: white;
    background-color: dodgerblue;
  }
  .text-area{
    height: 180pt;
    width: 450pt;
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  /* CSS */

  .card{
    margin-top: 100pt;
    padding: 20pt;
    height: 500pt;
    width: 500pt;
    margin-bottom: 30pt;
    border-radius: 10pt;
    background-color: #f3f3f3;
    font-size: 15pt;

  }
  .input-width{
    width: 350pt;
  }
  .hidden {
    display: none
  }
  .visible {
    display: block
  }
  .center-text {
    text-align: center
  }
  form.contact {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    margin-top: 30px;
  }
  input,
  button {
    margin-bottom: 10px;
    padding: 5pt;
    font-size: 15pt;
  }
  button {
    margin-top: 10px;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    padding: 4px 16px;
    transition: 0.4s;
    width: 50%;
    margin-top: 10px;

  }
  .row-button{
    text-align: center;
  }
  button:hover:enabled{
    color: white;
    background-color: dodgerblue;
  }
  .text-area{
    height: 200pt;
    width: 450pt;
  }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  /* CSS */
  .card{
    margin-top: 80pt;
    margin-left: 100pt;
    margin-right: 30pt;
    width: 320pt;
    padding: 20pt;
    height: 450pt;
    margin-bottom: 50pt;
    border-radius: 10pt;
    background-color: #f3f3f3;

  }
  .input-width {
    width: 280pt;
    border-radius: 3pt;
    padding-left: 5pt;
  }

  .text-area {
    height: 200pt;
    border-radius: 3pt;
    padding-left: 5pt;
  }
  .p-feed-back{
    width: 350pt;
  }
  .spacer{
    width: 50pt;
  }
  button {
    margin-top: 10px;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    padding: 4px 16px;
    transition: 0.4s;
    width: 100%;
    margin-top: 10px;

  }
  .div-hidden{
    visibility: hidden;
    display: none;
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  /* CSS */
  .card{
    margin-top: 50pt;
    margin-left: 13pt;
    margin-right: 10pt;
    padding: 10pt;
    height: 300pt;
    width: 310pt;
    margin-bottom: 20pt;
    border-radius: 10pt;
    background-color: #f3f3f3;

  }
  .input-width {
    width: 280pt;
    border-radius: 3pt;
    padding-left: 5pt;
  }

  .text-area {
    height: 100pt;
    border-radius: 3pt;
    padding-left: 5pt;
  }
  .spacer{
    width: 20pt;
  }
  .card-header{
    height: 20pt;
  }
  .card-header h1{
    font-size: 15pt;
    text-align: center;
    margin-top: -10pt;
  }
  button {
    margin-top: 10px;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    padding: 4px 16px;
    transition: 0.4s;
    width: 100%;
    margin-top: 10px;

  }
  .div-hidden{
    visibility: hidden;
    display: none;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 411px) and (max-width: 480px) {
  .card{
    margin-top: 80pt;
    margin-left: 24pt;
    margin-right: 5pt;
    width: 235pt;
    padding: 8pt;
    height: 400pt;
    margin-bottom: 20pt;
    border-radius: 10pt;
    background-color: #f3f3f3;

  }
  .input-width {
    width: 180pt;
    border-radius: 3pt;
    padding-left: 5pt;
  }
  .feedback_txtArea {
    width: 200pt;
    height: 100pt;
    border-radius: 3pt;
    padding-left: 5pt;
  }
  .text-area{
    height: 130pt;
  }
  .spacer{
    width: 10pt;
  }
  .div-hidden{
    visibility: hidden;
    display: none;
  }
  button {
    margin-top: 10px;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    padding: 1px 16px;
    transition: 0.4s;
    width: 100%;
    height: 30pt;
    margin-top: 30px;

  }
}
@media (min-width: 320px) and (max-width: 410px) {

  /* CSS */
  .card{
    margin-top: 80pt;
    margin-left: 23pt;
    margin-right: 5pt;
    width: 208pt;
    padding: 8pt;
    height: 400pt;
    margin-bottom: 20pt;
    border-radius: 10pt;
    background-color: #f3f3f3;

  }
  .input-width {
    width: 180pt;
    border-radius: 3pt;
    padding-left: 5pt;
  }
  .feedback_txtArea {
    width: 200pt;
    height: 100pt;
    border-radius: 3pt;
    padding-left: 5pt;
  }
  .text-area{
    height: 130pt;
  }
  .spacer{
    width: 10pt;
  }
  .div-hidden{
    visibility: hidden;
    display: none;
  }
  button {
    margin-top: 10px;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    padding: 1px 16px;
    transition: 0.4s;
    width: 100%;
    height: 30pt;
    margin-top: 30px;

  }
}
