<div class="container">
  <div class="row ">
    <div class="col-2" [ngClass]="'div-hidden'"></div>
    <div class="col-8">
      <form class="contact" [formGroup]="form" method="post" (ngSubmit)="onSubmit()">
        <mat-card class="card shadow">
          <div class="card-header">
            <mat-card-title>
              <h1 style="text-align: center">Contact</h1>
            </mat-card-title>
          </div>
          <mat-form-field>
            <input  matInput [formControl]="name"  class="name" required placeholder="Name">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input  matInput [formControl]="email" class="email input-width" placeholder="Email" required>
          </mat-form-field>
          <br>
          <mat-form-field class="row-button">
            <textarea  matInput [formControl]="message" rows="6" cols="20" #message2 maxlength="256" placeholder="I'm interested in..." required></textarea>
            <mat-hint>{{message2.value.length}} / 256</mat-hint>
          </mat-form-field>
          <div class="row-button">
            <button mat-raised-button color="primary" [disabled]="isLoading" class="submit" type="submit">Submit
            </button>
          </div>
          <div [ngClass]="!submitted? 'hidden' : 'visible'" class="center-text">
            <span>{{responseMessage}}</span>
          </div>
        </mat-card>
      </form>
    </div>
    <div class="col-2"></div>
  </div>
</div>

